.container-demo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    margin-top: 1em;
}

.container-dem {
    margin-left: 5em;
}

.titulo-private {
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    margin-bottom: 5em;
    margin-left: 2em;
}