body{
    background-color: black;
}
.image-container-single {
    margin-left: 8em;
    width: 20em;
    margin-bottom: 2em; 
    
}



.image-text {
    margin-left: 0;
    color: whitesmoke;
    margin-top: 0; /* Elimina el margen superior */
}

.display {
    margin-top: 0em; /* Mantiene el margen superior para el título */
}
.footer{
    
    color: whitesmoke;
}

.footer-single{
    color: red;
    font-size: small;
}

